<br />

<nav class="navbar navbar-default sidebar" id="lateralMenu" role="navigation" style="position:relative">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li class="active">
                    <a href='@Url.Action("List", "Person")'>
                        <span style="font-size:16px; color:black" class="pull-right hidden-xs showopacity glyphicon glyphicon-book"></span>
                        Usuários
                    </a>
                </li>

                <li>
                    <a href='@Url.Action("List", "Occupation")'>
                        <span style="font-size:16px; color:black" class="pull-right hidden-xs showopacity glyphicon glyphicon-tag"></span>
                        Posts
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>